body {
    margin: 0;
    background-color: #d3d2d2;
}

.navbar {
    display: flex;
    padding: 30px;
    background-color: #222;
    justify-content: space-evenly;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
}

a:hover {
    background-color: #000;
    color: #fff;
    transform: translateY(-2px);
    transition: 0.6s;
}

@import url("./css/klasseside-header.css");
@import url("./css/klassesection.css");
